---
import MainLayout from '../layout/MainLayout.astro';
import Hero from '../components/Hero.astro';
---

<MainLayout title="Ruda Patrice">
  <main>
    <Hero />
    <article>
      <p>Upcoming Event:</p>
      <p>Community Workshop, 24/5-2023</p>
      <p>Ullamco eu aliquip qui tempor aliqua dolor magna est. Est fugiat consequat ex fugiat.</p>
    </article>
  </main>
</MainLayout>

<style>
  
</style>