---
import MainLayout from '../layout/MainLayout.astro';
import Hero from '../components/Hero.astro';
import Banner from '../components/Banner.astro';
---

<MainLayout title="Ruda Patrice">
  <main>
    <Hero />
    <Banner
  </main>
</MainLayout>

<style>
  
</style>