---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ruda Patrice</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="index.html"><img src="/img/Logo.png" alt="Logo"></a>
				<ul class="desktop_menu">
					<li><a href="index.html">Home</a></li>
					<li><a href="store.html">Store</a></li>
					<li><a href="about.html">About</a></li>
				</ul>
				<img class="burger-menu-button" id="burger" src="/icon/bars.svg" alt="Burger Menu">
				<ul class="menu-list">
				  <li><a href="index.html">Home</a></li>
				  <li><a href="store.html">Store</a></li>
				  <li><a href="about.html">About</a></li>
				</ul>
				<img id="kurv" src="/icon/shopping-bag.svg" alt="Kurv">
			</nav>
		</header>
		<h1>Astro</h1>
	</body>
</html>

<style>
	/* Nulstilling af margin og padding på alle elementer, samt ændring af box model på alle elementer */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #2d2d2d;

  background-color: blue;
}

 

/* Normalisering af billeder */
img {
  width: 100%;
  height: auto;
  display: block;
}

	nav {
		display: flex;

		flex-wrap: wrap;
		column-gap: 100px;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		background-color: #fff;
	}
	nav a img {
		max-width: 100px;
		margin-left: 10px;
	}

	nav a {
		text-decoration: none;
		color: #2d2d2d;
		text-transform: uppercase;
	}

	nav a:hover {
		color: #000;
		text-decoration: underline;
	}

	#burger {
		max-width: 40px;
	}

	#kurv {
		width: 70px;
		position: absolute;
		right: 0;
		bottom: 0;
		margin-right: 10px;
		margin-bottom: 10px;

		border-radius: 50%;
		padding: 10px;
		background-color: #fff;
	}

	.burger-menu-button {
      display: block;
    }
	.menu-list {
        display: none;
      }

    .menu-list.show {
		margin: auto;
        display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
      }
	.desktop_menu {
	  display: none;
	}

    /* CSS for mobile devices */
    @media (min-width: 600px) {
		nav {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		nav a {
			font-size: 1.2rem;
		}

		nav a img {
			min-width: 100px;
			max-width: 200px;
		}
      
		.burger-menu-button {
        display: none;
      }

	  .desktop_menu {
		justify-self: center;
		display: flex;
		gap: 40px;
		justify-content: space-between;
		list-style: none;
		
	  }

	  #kurv {
		justify-self: end;
		position: unset;
	  }
    }
</style>

<script>
	document.querySelector("#burger").addEventListener("click", toggleMenu);


    function toggleMenu() {
		console.log("toggleMenu");
      	var menuList = document.querySelector(".menu-list");
      	menuList.classList.toggle("show");
    }
  </script>
