---
import MainLayout from '../layout/MainLayout.astro';
import Hero from '../components/Hero.astro';
import Banner from '../components/Banner.astro';
import Drops from '../components/Drops.astro';
---

<MainLayout title="Ruda Patrice">
  <main>
    <Hero />
    <Banner />
    <Drops />
    <article>
      
    </article>
  </main>
</MainLayout>

<style>

  
</style>