---

---

<article class="margin">
    <div>
      <h2>How Drops Work</h2>
      <p>Quis non magna fugiat consequat anim anim consectetur. Aliquip excepteur officia laboris cillum esse sunt culpa dolor amet in esse. Magna irure deserunt cupidatat cupidatat. Excepteur consectetur eu quis elit mollit. Quis reprehenderit occaecat Lorem incididunt voluptate nostrud incididunt sit do ut consequat reprehenderit ut tempor. Fugiat excepteur quis ea voluptate Lorem. Ex commodo adipisicing voluptate occaecat est labore Lorem magna cillum occaecat ex laborum commodo. In tempor occaecat est incididunt cupidatat id anim nulla proident commodo aliqua non. Quis sint quis do culpa culpa exercitation officia id consequat id excepteur qui id fugiat. Cupidatat deserunt commodo aliqua occaecat aute aliquip exercitation ad labore qui cupidatat incididunt reprehenderit. In reprehenderit deserunt officia nisi elit anim culpa dolor consequat ipsum ipsum officia quis aliquip. Adipisicing exercitation irure velit veniam labore quis consectetur ut sit officia reprehenderit.</p>
    </div>
    <img src="/img/hdwfront.webp" alt="Billede af krave på Ruda Patrice skjorte">
  </article>

  <style>
      h2 {
    margin-bottom: 30px;
  }
  article {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  img {
    max-width: 600px;
    margin-top: 40px;
  }

  @media (min-width: 600px) {
    article {
      flex-direction: row;
      justify-content: space-between;
      gap: 80px;
    }

    div {
      max-width: 650px;
      align-self: center;
    }
  }
  </style>