---
const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="index.astro"><img src="/img/Logo.png" alt="Logo"></a>
				<ul class="desktop_menu">
					<li><a href="index.astro">Home</a></li>
					<li><a href="store.astro">Store</a></li>
					<li><a href="about.astro">About</a></li>
				</ul>
				<img class="burger-menu-button" id="burger" src="/icon/bars.svg" alt="Burger Menu">
				<ul class="menu-list">
				  <li><a href="index.astro">Home</a></li>
				  <li><a href="store.astro">Store</a></li>
				  <li><a href="about.astro">About</a></li>
				</ul>
				<img id="kurv" src="/icon/shopping-bag.svg" alt="Kurv">
			</nav>
		</header>
		<slot />
        <footer>
            <div id="footer_about">
                <img src="img/Logo.png" alt="Logo">
                <p>We are based in copenhagen and we produces our products under pre sensible stands.</p>
                <p>HERLUF TROLLES GADE 21, KLD.</p>
                <p>1052 KØBENHAVN K</p>
                <p>DENMARK</p>
            </div>
            <div id="footer_company">
                <h4>Company</h4>
                <ul>
                    <li><a href="about.astro">About us</a></li>
                    <li><a href="faq.astro">FAQ</a></li>
                    <li><a href="sizeguide.astro">Size Guide</a></li>
                    <li><a href="termscond.astro">Terms & Conditions</a></li>
                    <li><a href="contact.astro">Contact</a></li>
                </ul>
            </div>
            <div id="footer_news">
                <div>
                	<h4>Sign Up To Newsletter</h4>
	                <form>
	                    <input type="email" placeholder="YourMail@gmail.com" required>
	                    <button>SUBSCRIBE</button>
	                </form>
                </div>
				<div id="footer_socials">
					<a target="_blank" href="https://www.instagram.com/rudapatrice/"><img src="/icon/instagram.svg" alt="Instagram Logo"></a>
					<a target="_blank" href="https://www.tiktok.com/@rudapatrice?is_from_webapp=1&sender_device=pc"><img src="/icon/tiktok.svg" alt="TikTok Logo"></a>
					<a target="_blank" href="https://www.facebook.com/profile.php?id=100081175756836"><img src="/icon/facebook.svg" alt=""></a>
				</div>
            </div>
        </footer>
	</body>
</html>

<style>
	/* Nulstilling af margin og padding på alle elementer, samt ændring af box model på alle elementer */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --main-color: #fff;
  --secondary-color: #EBE7DF;

  --main-text-color: #2d2d2d;
  --secondary-text-color: #000;
}


/* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: var(--main-text-color));

  background-color: var(--main-color);
}

 

/* Normalisering af billeder */
img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

a:hover {
  text-decoration: underline;
  color: var(--secondary-text-color);
}

p {
	line-height: 1.1rem;
}

ul {
  list-style: none;
}

/* -------------------- Header ---------------------- */

	nav {
		display: flex;

		flex-wrap: wrap;
		column-gap: 100px;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		background-color: var(--main-color);
	}
	nav a img {
		max-width: 100px;
		margin-left: 10px;
	}

	nav a {
		text-decoration: none;
		color: var(--main-text-color);
		text-transform: uppercase;
	}

	nav a:hover {
		color: var(--secondary-text-color);
		text-decoration: underline;
	}

	#burger {
		max-width: 40px;
	}

	#kurv {
		width: 60px;
		position: fixed;
		bottom: 10px;
     	right: 10px;

		border-radius: 50%;
		padding: 10px;
		background-color: var(--secondary-color);
	}

	.burger-menu-button {
      display: block;
    }
	.menu-list {
        display: none;
      }

    .menu-list.show {
		margin: auto;
        display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
      }
	.desktop_menu {
	  display: none;
	}

	/* -------------------- Footer ---------------------- */
	footer {
		display: flex;
		flex-direction: column;
		gap: 40px;

		padding: 15px;
		background-color: var(--secondary-color);

	}

	#footer_news {
		order: 1;
	}
	
	#footer_about {
		order: 2;
	}

	#footer_company {
		order: 3;
	}

	#footer_news form {
		display: flex;
		flex-direction: column;
	}

	#footer_socials {
		display: flex;
		justify-content: flex-end;
		gap: 20px;

		margin-top: -40px;
	}

	#footer_socials img {
		width: 45px;
	}

	form input {
        border: 1px solid var(--main-text-color);
        background-color: transparent;
        border-radius: 0;
        
        padding: 10px 10px 10px 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		max-width: 350px;
	}

	form button {
		background-color: transparent;
		border: 1px solid var(--main-text-color);

		padding: 10px;
		width: 150px;
	}

	#footer_about img {
		max-width: 200px;
		margin-bottom: 20px;
	}

	#footer_about :nth-child(2) {
		margin-bottom: 20px;
	}

	/* ---------------- Responsivitet ----------------- */
    @media (min-width: 600px) {

		/* -------------------- Header ---------------------- */
		nav {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		nav a {
			font-size: 1.2rem;
		}

		nav a img {
			min-width: 100px;
			max-width: 200px;
		}
      
		.burger-menu-button {
        display: none;
      }

	  .desktop_menu {
		justify-self: center;
		display: flex;
		gap: 40px;
		justify-content: space-between;
		list-style: none;
		
	  }

	  #kurv {
		justify-self: end;
		position: unset;
	  }

	  /* ---------------- Footer -------------------- */
	  footer {
		flex-direction: row;
		padding: 40px;
	  }

	  #footer_news {
		order: 3;
		margin-left: auto;
	}
	
	#footer_about {
		order: 1;
		max-width: 300px;
	}

	#footer_company {
		order: 2;
	}

	#footer_news {
		margin-right: 300px;
    }

	form input {
		width: 300px;
	}

	form button {
		max-width: 200px;
	}

	#footer_socials {
		margin-top: 20px;
		justify-content: flex-start;
	}
}
</style>

<script>
	document.querySelector("#burger").addEventListener("click", toggleMenu);


    function toggleMenu() {
		console.log("toggleMenu");
      	var menuList = document.querySelector(".menu-list");
      	menuList.classList.toggle("show");
    }
  </script>

